<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">

      <span>MyCompany</span>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon> Menu</button>

  </mat-toolbar>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item> Settings </button>
    <button mat-menu-item> Help </button>
  </mat-menu>

  <!-- <md-card class="example-card" *ngFor="let data of (myData ? myData.slice(0,10): []); let i = index">

      <img md-card-image src="{{ data.url }}">
      <md-card-header>
        <md-card-title>{{ data.title }}</md-card-title>
      </md-card-header>

      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>

    </md-card> -->
